body {
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #11798e;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
}

nav ul li:hover {
    background-color: #A1D5E2;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

.active {
    background-color: #A1D5E2;
}
main h1 {
    text-align: center;
}

#ctnr {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

article {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 30px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    width: 360px;
}

article img {
    width: 100%;
    height: 300px;
    border-radius: 30px;
}

article div {
    width: 90%;
    text-align: center;
    margin: auto;
}

.article {
    padding: 10px;
    text-align: center;
}

.article img {
    width: 800px;
}

.article a {
    background-color: #11798e;
    color: white;
    text-decoration: none;
    padding: 7px;
}

.article a:hover {
    background-color: #A1D5E2;
}

@media (max-width: 640px) {
    article {
        flex-direction: column;
    }
    article img, article div {
        width: 100%;
    }
    .article img {
        width: 100%;
    }
}